body {
  background-image: url("../img/chevrons.png");
}

h1 {
  text-align: center;
}

h5 {
  text-align: center;
}

.container {
  border-radius: 5%;
  border: inset 5px;
  border-color: rgba(0, 0, 0, .75);
  background-color: rgba(255, 255, 255, .92);
}

.survey {
  border-radius: 5%;
  border: outset 5px;
  border-color: rgba(255, 128, 128, .75);
  background-color: rgba(255, 255, 255, .46);
}

.results {
  display: none;
  border-radius: 5%;
  border: inset 5px;
  border-color: rgba(128, 255, 255, .75);
  background-color: rgba(255, 255, 255, .46);
}

.data{
  /* border-radius: 5%; */
  border: groove 5px;
  border-color: rgba(0, 0, 0, .75);
  background-color: rgba(0, 0, 0, .75);
  font-family: monospace;
  color: beige;
  text-align: center;
  font-size: 12px;
}

 .data P {
   margin-top: auto;
   margin-bottom: auto;
 }

.dataSet {
  display: none;
}

.emphasis {
  text-decoration: underline;
}

.custom-range {
  /* height: 5%; */
  }


.floatLeft {
  float: left;
  margin-bottom: 0px;
}

.floatRight {
  float: right;
  margin-bottom: 0px;
}

.language1, .language2, .language3, .language4, .language5 {
  display: none;
}
